<!DOCTYPE html>
<html>
<head>
  <title>Ukpropertyfinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "UK Properties", root_path, :class => "navbar-brand" %>
      </div>
      <div>
        <ul class="nav navbar-nav">
<!--           <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
  <div id="wrap">
    <div id="main" class="container clear-top">
      <%= yield %>
    </div>
  </div>
  <div class="footer navbar-fixed-bottom" style="background-color:#FFFFFF;">
    <div class="container">
      <p class="text-muted", style="text-align:left;" >A project by <%= link_to "Nick Schwaderer", "https://github.com/schwad" %>, 2015.     <div style="text-align:right; margin-top:-30px;">
      <%= link_to "Blog", "https://theschwad.tumblr.com" %> | <%= link_to "Source Code", "https://github.com/schwad/ukpropertyfinder" %> | <%= link_to "Twitter", "https://www.twitter.com/schwad4hd14" %></div></p>
    </div>
  </div>
</body>
</html>
